
<%= provide(:title, "Home")%>

<div class = "mainCont">
<%= image_tag("golfswing.jpg", alt:"Welcome Logo", :class => "welcomeIm")%>

<h1>Home page</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
</div>